<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Carbon Testing Museum Viewing</title>

    <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
    <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>

    <script src="https://unpkg.com/muse-ui-carbon-theme/dist/muse-ui-carbon-theme.js"></script>

    <link href='https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons' rel="stylesheet" type="text/css">

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' rel="stylesheet">

    <link href='' rel="stylesheet">


    <style>

    body, html {
      font-family: 'News Cycle', sans-serif !important;
      font-weight: 300 !important;
      margin: 0x;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'News Cycle', sans-serif !important;
      font-weight: 300 !important;
    }

    .material-icons, .fa, .fab, .far, .fas, i {
      vertical-align: middle;
    }

    .dignity {
      font-family: 'News Cycle', sans-serif;
    }

		oedipus-flex {
			height: calc(100vh - 66px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}


    </style>

  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
