<template lang="pug">
oedipus-flex
	h1
		i.fas.fa-university.fa-5x
	h1(style="margin-bottom: -15px;") Sobre Pobres e Nobres
	h2 Museu é um Andaime pro Vue
	mu-button.my-40(color="primary" to="/")
		i.material-icons beach_access
		| &nbsp; Abaixar
</template>

<style>

oedipus-flex {
	height: calc(100vh - 66px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
flex-wrapper {
	width: 100%;
	height: 56px;
	margin-top: 8px;
}

flex-demo {
	width: 200px;
	height: 32px;
	background-color: #e0e0e0;
	text-align: center;
	line-height: 32px;
	margin-left: 8px;
}

</style>
