<template lang="pug">
flex-demo
  h1(style="margin-bottom: -15px;") Altered Carbon
  h2 A Sci-Fi Netflix Series
  img(alt='Logotipo', src='../assets/images/wheeling.svg' width="120px;")
  mu-button(color="primary" style="margin-top: 30px;" to="/") Abaixar
</template>

<style>
flex-wrapper {
  width: 100%;
  height: 56px;
  margin-top: 8px;
}

flex-demo {
  width: 200px;
  height: 32px;
  background-color: #e0e0e0;
  text-align: center;
  line-height: 32px;
  margin-left: 8px;
}

</style>
