<template lang="pug">
oedipus-flex
	h1
		i.fas.fa-chess.fa-5x
	h1(style="margin-bottom: -15px;") Adieu au Monde Immonde
	h2 Bom Dia, Meia-Noite
	mu-button(color='darkBlack' style="margin-top: 30px" to="/about")
		mu-icon(value='directions_run' left)
		| Pressure Me

</template>

<script>
export default {
	data () {
		return {
			docked: false,
			open: false,
			position: 'left'
		}
	}
}
</script>

<style>
flex-wrapper {
	width: 100%;
	height: 56px;
	margin-top: 8px;
}

flex-demo {
	width: 200px;
	height: 32px;
	background-color: #e0e0e0;
	text-align: center;
	line-height: 32px;
	margin-left: 8px;
}

</style>
