<template lang="pug">
#app
  mu-appbar(style='width: 100%;' color='primary')
    mu-button(icon slot='left' @click='open = !open')
      mu-icon(value='menu')
    i.fas.fa-sun.fa-2x(style="float: left; margin-top: 8px;")
    span(style="float: left;")
      | &nbsp; Engenhocas Cariocas

    mu-menu(slot='right')
      mu-button(flat)
        i.material-icons list
        | &nbsp; Opções

      mu-list(slot='content')
        mu-list-item(button)
          mu-list-item-content
            mu-list-item-title
              i.material-icons domain
              |  &nbsp; Rio de Dinheiro

        mu-list-item(button)
          mu-list-item-content
            mu-list-item-title
              i.fas.fa-city.fa-lg
              |  &nbsp; San Pavlov

        mu-list-item(button)
          mu-list-item-content
            mu-list-item-title
              i.fas.fa-archway.fa-lg
              | &nbsp; Samboja
  mu-container
    mu-flex(justify-content='center', align-items='center')
    mu-drawer(:open.sync='open', :docked='docked', :right="position === 'right'")
      mu-appbar(title="O Cardápio" color='primary')
        mu-icon(size='48' value='directions_bike')
          | Pedalando
      mu-list

        mu-list-item(button @click='open = !open')
          mu-list-item-title San Pavlov

        mu-list-item(button to="/about" @click='open = !open')
          mu-list-item-title Rio de Dinheiro

        mu-list-item(@click='open = false' button)
          mu-list-item-title Desmoronar
    router-view(style="height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center")
</template>

<script>
export default {
  data () {
    return {
      docked: false,
      open: false,
      position: 'left'
    }
  }
}
</script>

<style lang="scss">
mu-container {
  height: 100vh;
}
#app {
  font-family: 'News Cycle', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
